In [ ]:
# When on Google Colab, run this first, then Restart Kernel, and then load the libraries
!python -m spacy download en_core_web_lg

In [30]:
import joblib
import pandas as pd
import spacy
from tqdm import tqdm
nlp = spacy.load("en_core_web_lg")

In [91]:
# SAMPLE
# Download a spacy model for processing English
# !python -m spacy download en_core_web_lg
# nlp = spacy.load("en_core_web_sm")

# Process a sentence using the spacy model
doc = nlp('Windows 7 users should be aware by now that while a fair number of flaws addressed this month \
            by Microsoft affect Windows 7 systems, this operating system is no longer being supported with \
            security updates (unless you‚Äôre an enterprise taking advantage of Microsoft‚Äôs paid extended \
            security updates program, which is available to Windows 7 Professional and Windows 7 enterprise \
            users). Perhaps most troubling of these (CVE-2020-1301) is a remote code execution bug in SMB \
            capabilities built into Windows 7 and Windows Server 2008 systems ‚Äî both operating systems that \
            Microsoft stopped supporting with security updates in January 2020. Microsoft Office and Excel get \
            several updates this month. Microsoft today released software patches to plug at least 129 security \
            holes in its Windows operating systems and supported software, by some accounts a record number of \
            fixes in one go for the software giant')
# doc = nlp(text)
# Display the entities found by the model, and the type of each.
print('{:<12}  {:}\n'.format('Entity', 'Type'))

# For each entity found...
for ent in doc.ents:
    
    # Print the entity text `ent.text` and its label `ent.label_`.
    print('{:<20}  {:}'.format(ent.text, ent.label_))

Entity        Type

7                     CARDINAL
this month            DATE
Microsoft             ORG
7                     CARDINAL
Microsoft             ORG
Windows 7 Professional  ORG
CVE-2020-1301         CARDINAL
SMB                   PRODUCT
Windows 7             PRODUCT
2008                  DATE
Microsoft             ORG
January 2020          DATE
Microsoft Office      ORG
Excel                 PRODUCT
this month            DATE
Microsoft             ORG
today                 DATE
at least 129          CARDINAL
Windows               PRODUCT

 
***
### Start here afresh with text sitting in a dataframe column

In [40]:
final = joblib.load('final_df3.pkl')
text = final.text.reset_index(drop=True)
text

0       Friday Squid Blogging: Fishing for Jumbo Squid...
1       Interesting research: "Identifying Unintended ...
2       Analyzing IoT Security Best Practices\n\nNew r...
3       COVID-19 Risks of Flying\n\nI fly a lot. Over ...
4       Really interesting research: "An examination o...
                              ...
5120    ‚Äî Zoom Video Communications Inc. has been lamb...
5121    ‚Äî Miro is a company in the right place at the ...
5122    The Royal Bolton Hospital is among a growing n...
5123    Within a week, Blair‚Äôs tweet got the attention...
5124    The news: A group of experts has produced a pl...
Name: text, Length: 5125, dtype: object

In [80]:
df = pd.DataFrame(columns = ['entity_name', 'entity_type', 'doc_index'])

for n, t in enumerate(tqdm(text)):
    doc = nlp(t)
    for ent in doc.ents:
        ent_name = ent.text
        ent_label = ent.label_
        df = df.append({'entity_name': ent_name, 'entity_type': ent_label, 'doc_index': n}, ignore_index=True)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 5125/5125 [3:00:59<00:00,  2.12s/it]

In [84]:
# Now the dataframe df contains all combinations of entity_name and entity_type and document.
# Count each entity and type only once for a document

df = df.drop_duplicates() 

# Now see how many documents does a given entity_name+entity_type combo appear in

entities = df.groupby(['entity_name', 'entity_type']).agg({'entity_name':'count'}).rename(columns={'entity_name':'COUNT'}).reset_index().sort_values(by = 'COUNT', ascending = False).reset_index(drop=True)

In [86]:
df

          entity_name entity_type doc_index
0              Friday        DATE         0
1         Jumbo Squid     PRODUCT         0
2              Posted     PRODUCT         0
3       June 26, 2020        DATE         0
4           3:57 PM ‚Ä¢        TIME         0
...               ...         ...       ...
226454            one    CARDINAL      5124
226456        759,786    CARDINAL      5124
226457       covid-19        DATE      5124
226458   this morning        TIME      5124
226459         40,683    CARDINAL      5124

[158748 rows x 3 columns]

In [87]:
entities

      entity_name entity_type  COUNT
0             one    CARDINAL   1633
1           first     ORDINAL   1595
2             two    CARDINAL   1353
3           today        DATE    944
4              US         GPE    700
...           ...         ...    ...
54412  ISS Supply         ORG      1
54413        ISSA         ORG      1
54414  ITAM Forum         ORG      1
54415        ITER         ORG      1
54416           üòù      PERSON      1

[54417 rows x 3 columns]

In [88]:
entities.query('entity_type == "PERSON"')

              entity_name entity_type  COUNT
32     Pierluigi Paganini      PERSON    272
36               Full Bio      PERSON    265
58             Threatpost      PERSON    201
63                  Trump      PERSON    178
68                  Learn      PERSON    168
...                   ...         ...    ...
54391        Ian Burkhart      PERSON      1
54392        Ian C. Bates      PERSON      1
54393          Ian Callum      PERSON      1
54394           Ian Goetz      PERSON      1
54416                   üòù      PERSON      1

[10529 rows x 3 columns]

In [79]:
print(list(entities.query('entity_type == "PERSON"').entity_name))

['Assange', 'Threatpost', 'Full Bio', 'Mirai', 'Tropic Trooper', 'Lucifer', 'Wynonna', 'Drake', 'Schuchman', 'Earth Empusa', 'Williams', 'Zoox', 'Learn', 'Pierluigi Paganini', 'Magecart', 'Julian Assange', 'Jessica Davis', 'Trump', 'Tekya', 'Gabriel', 'Johnson', 'Steve Whittle', 'Valimail', 'Satori', 'Aaron Sterritt', 'Docker', 'Burkov', 'Titus', 'Logan Shwydiuk', 'Maor', 'Tesla', 'Tudor', 'Zuckerberg', 'Android', 'Kenneth Currin Schuchman', 'Govshteyn', 'Holt', 'Golang', 'Hussey', 'George Floyd', 'Ken the Bin', 'Cybercriminals', 'Jim Salter', 'bin', 'Marcu', 'Netsential', 'Chelsea Manning', 'Bieber', 'Leming', 'Lee', 'Mulan', 'Naro', 'MyBookie', 'Alexander', 'Earp', 'Okiru', 'Vinnik', 'Trevor Mahlmann', 'Brown', 'Brown-Philpot', 'Nicole', 'Abramoff', 'shopify', 'Markey', 'Jenkins', 'LulzSec', 'Laupp', 'Tags', 'Messenger', 'Miller', 'Hsu', 'Black Hat', 'Zoom', 'Dingle', 'DDoSecrets', 'Donald Trump', 'Wynonna Earp', 'Crozier', 'Wu', 'Yaniv', 'advancedKeyAlias', 'Constantin Sorinel Marcu', 'ZecOps', 'Zachary Buchta', 'William Walton', 'David Bukoski', 'Yuliana Bellini', 'Meeting Maker', 'Mauger', 'Masuta', 'Monero', '"As', 'Krebs', 'KeyProperties', 'Schoen', 'Kash', 'Karim Lalji', 'Scott Pace', 'Mactaggart', 'PingCastle', 'Peng', 'Nixon', 'Moy', 'NAI Sniffer', 'Ron Wyden', 'Mpps', 'Ross Anderson', 'Rlogin', 'Ripple20', 'Richardson', 'Justin Sean Johnson', 'Forescout', 'Fabian Wosar', 'Filast√≤', 'Timothy M. Burgess', 'Timothy Burgess', 'TikTok', 'Varonis', 'Dsniff', 'Ed Markey', 'Suri', 'Jesse Wu', 'Jeff Merkley', 'Jai Vijayan', 'Jobs', 'Johannes Ullrich', 'Strauss', 'Stewart Baker', 'Steve Price', 'Hawley', 'Intacash', 'Avital', 'Bidani', 'Biden', 'Andras', 'Allison Nixon', 'Anonymous', 'mailsnarf', 'macof', 'Adam Alexander', 'Boaz Dolev', 'Brian Hussey', 'sshmitm', '|', 'Talos', 'Taber MacCallum', 'Tadek Pietraszek', 'Sheryl Sandberg', 'Ted Face', 'Shazam', 'Seth Schoen', 'Shira Ovide', 'Seth', 'Sergiy Usatyuk', 'Superion', 'Sebastian Pigott', 'Stacy Brown-Philpot', 'Stephen Gartrell', 'Steve Zurier', 'Stewart Room', 'Sumit Gupta', 'Subkeys', 'Stephen Gatrell', 'Sterritt', 'Steve', 'Steve Holt', 'Steve Jobs', 'Slack', 'dnsspoof', 'Radi', 'Rahm Emanuel', 'Quantum Stresser', 'Qin', 'Ran Locar', 'Randy Nedley', 'Ren√©e DiResta', 'Reynold Leming', 'Rick Moy', 'Raphael Centeno', 'Rapid7', 'Rashad Robinson', 'Relevancy', 'yarden bidani', 'zBang-source-v1.00.zip', '¬Ø\\_(„ÉÑ)_/¬Ø', 'Phurl', 'Pipsqueak Google', 'val keyAlias', 'Price', 'val encryptedFile =', 'val advancedKeyAlias =', 'urlsnarf', 'Privnotes', 'webspy', 'Poynter', 'Pramila Jayapal', 'Riken', 'Sandworm', 'Sarah Franklin', 'Sarah Palin', 'Scott Brady', 'Sean Curran', 'Sean O‚ÄôBrien', 'Schroder', 'Roger Barranco', 'Roger Stone', 'Ron Rock', 'RonnyXing', 'Ross', 'Roy Bass', 'Rob Lefferts', 'Riviera Maya', 'Riviera Maya‚Äôs', 'Rob McLeod', 'Rob Mesirow', 'Robert Julian-Borchak Williams', 'Robert Mueller', 'Robinson', 'SGSN', 'Wyatt', 'Wyden', 'Phish', 'Wynona Earp', 'Wyatt Earp', 'Wright', 'Zane Zuo', 'itay huri', 'Zhou Danying', 'Zika', 'Zoe Konstantopoulou', 'Zuzana Hromcov√°', 'Yuval Elovici', 'Yarden Bidani', 'Yakubets', 'Yaron Pirutin', 'Yo-Yo Ma', 'Yolonda Smith', 'Yosefian', 'Winston Churchill', 'a Justin S. Johnson', 'Walton', 'mirai', 'Waverly', 'Waymo', 'W.B. Yeats‚Äô', 'Wilson', 'Win32.Generic', 'Win32.Neurevt', 'William Barr', 'Westech', 'Wi-Fi', 'Wikileaks', 'Will Pomerantz', 'a Linux Kernal', 'etc.)."To', 'errString', 'dsniff', 'download Sandcastle', 'download Pingcastle', 'download Memhunter', 'download Dsniff', 'binwalk -E', 'botnet_start.vbs', 'hollowfind', 'alex holden', 'accesstoken', 'setIsStrongBoxBacked(true', 'query_type_matches', 'Thief Stealer', 'Tom Clavel', 'Tom Emmons', 'Tommy Mysk', 'Tony Cole', 'Tor', 'Tim Wilson', 'TikTok Grandma', 'Tim Cook', 'Tim Keck', 'pro-Biden', 'Tim Kentley-Klay', 'Tim Rozon', 'Teslarati', 'Valerie Workman', 'VAFB', 'Verzuz', 'Virus Total', 'Venafi', 'Vavra', 'Vega |', 'Trevor Mahlmann\n\n\n\n', 'msgsnarf', 'Tyrone E. Wilson', 'Mark', 'Augusto Remillano II', 'AuthenticationResult', 'Ayanna Pressley', 'BB2FA36AAA9541F0', 'Arnar Birgisson', 'Arturo Filast√≤', 'Baker', 'Bill', 'Bill Nye', 'Biotronik', 'Biotronik CardioMessenger II', 'Biotronik Flaws,', 'BitSight', 'Ben Nassi', 'Barr', 'Barracuda', 'Barry Pollack', 'Bass', 'Batman', 'BeEF', 'Beatles', 'Beau Smith', 'Adam Langley', 'Adelia Risk', 'Adi Shamir', 'Adrienne Williams', 'Aicha Evans', 'AES256_GCM_HKDF_4KB', 'Alan Bergman', 'Alan Horn', 'Andrew Coster', 'Android Accessibility', 'AndroidOS_ActionSpy', 'Anna Kissed Alice', 'Annie Easley', 'Anthony Fauci', 'Anti-Buffy', 'Ant√≥nio Guterres', 'Aparna Bawa', 'App Clips', 'Amir Shaked', 'Amelia Estwick', 'Alastair Mactaggart', 'Alberto Dainotti', 'Alef Nula', 'Aleksei Burkov', 'Aleksey Yurievich Burkov', 'Alessandro Acquisti', 'Alex Holden', 'Alex Koshelev', 'Alex Padilla', 'Alex Stamos', 'Alexander Vinnik', 'Alexei Burkov', 'Alexei Czeskis', 'Allatori', 'Allissa Richardson', 'Alyssa Miller', 'Amanda', 'Carlos Gabriel', 'Caroline Brown', 'Charge Robert W. Britt', 'Charles James', 'Cloud', 'Chris DeRamus', 'Chris Ross', 'Christopher Bellman', 'Ciaran Martin', 'Bulshar', 'Burgess', 'Bypass', 'C.J. Muse', 'CISO', 'CNCF Kubernetes', 'Bryan Vartabedian', 'BlueLeaks', 'Borbala Benko', 'Boris Zadov', 'Brad Smith', 'Brady Benware', 'Bren Matthew Ebriega', 'Brian', 'Brian Krebs', 'Brianna Herlihy', 'Broken Arrow', 'Bruce Schneier', 'COVID-19‚Äîwhich', '-photos', '"Galcomm', 'Cook', 'Liron Yosefian', 'Lisa Serradilla', 'Llallum Victoria', 'LoadLibrary', 'Lockdowns', 'Login', 'Long', 'Lorien', 'Lucy Security', 'LuxSci', 'Lyft', 'LTS', 'Larry Page', 'Laura Murphy', 'Lavine', 'Lefferts', 'MJ Brunner', 'Marcus J. Carey https://twitter.com/marcusjcarey', 'Mark Risher', 'Mark Zuckerberg', 'Marvin Minsky', 'Mary D. Nichols', 'Mary Jackson', 'Mary Jo Laupp', 'Matthew Stewart', 'MaxLinear', 'Maze', 'Mark Krikorian', 'Mac', 'MacCallum', 'MacOS', 'Macnair', 'Mae Jemison', 'Magecart Attack on eCommerce Platform Hits Thousands', 'Magecart Skimmers', 'Maksim Yakubets', "Mama Earp's", 'Manning', 'Marc Wilczek', 'Melanie Scrofano', 'Julien Cretin', 'John J. Mooney', 'John Mauger', 'Jon Markoff', 'Joseph C. Chen', 'Joseph R. Biden Jr.', 'Joseph Vavra', 'Josh Finch', 'Judas', 'Judas DNS', 'Jules Okafor', 'Julian', 'Julian Waits', 'Julie Tarallo McAlister', 'John C. Stennis', 'Johannes B. Ullrich', 'Joey Chen', 'Jody Hunt', 'Jared Blumenfeld', 'Jasmin Graham', 'Jason Lee', 'Jean Marchand', 'Jeff Bezos', 'Jeff Hodges', 'Jeff Wilke', 'Jennifer Minear', 'Jerry Lee Lewis', 'Jesse', 'Jesse Levinson', 'Jessica Naro', 'Jessie Huang', 'Jim Barkdoll', 'Jim Bridenstine', 'Joan Didion', 'Katherine Barrell)‚Äîa', 'Kelly Jackson Higgins', 'Ken Hsu', 'Kevin Roose', 'Keybase', 'Kia Sorrento', 'Kinsing', 'KrebsOnSecuirty Vamp', 'KrebsOnSecurity.com', 'Krebsonsecurity.com', 'Keirsten Brager', 'Kate Bolseth', 'Justin Bieber', 'Justin Johnson', 'K. Sivan', 'Kali Linux', 'Karen Baxter', 'Karen Ivy Titiwa\n\n\n\n', 'Karen K. Ho', 'Karen Victor', 'Kashmir Hill', 'Megan Follows', 'Melissa', 'Omar Radi', 'Nolan', 'Nuro', 'Nutanix AHV', "O'Shea Bowens", 'Parabolic Arc', 'Patricia Calhoun', 'Patricia Carreiro', 'Patrick Noel Collado', 'Paul C. van Oorschot', 'Paul Holland', 'Paul Rockwell', 'Peacemaker', 'Pence', 'Ph.D.', 'Oranski', 'Ori Hamama', 'Oxana Comanescu', 'Page-Turners', 'Node.js', 'Melissa Cristina M√°rquez', 'Mooney', 'Mindbody', 'Minear', 'Misha Govshteyn', 'Monero cryptomining', 'Moshe Fogel', 'Mt. Gox', 'Mike Pence', 'Mike Huckabee', 'Memhunter', 'Merriam-Webster', 'Mesfin Bekalu', 'MiMi Aung', 'Michael Hawley', 'Michelle', 'Mueller', 'Multitenancy', 'Netsparker', 'Netwalker', 'Nicole Ellison', 'Nicole Haught', 'Niki Caro', 'Noam Rotem', 'Neema Singh Guliani', 'Mysk', 'Naama Issachar', 'Nadav Avital', 'Jane Poynter', 'Jan Kopriva', 'Dsniff download', 'Download Quasar', 'Dr Phil', 'Dridex', 'Drupalgeddon', 'Dick', 'Dylan Hoffman', 'Doug Helton', 'Doug Bryant Jr', 'Dorsey', 'Dor Knafo', 'Didier Stevens', 'Didion', 'Dirk Balfanz', 'Django', 'Doc Holliday', 'Dolev', 'Domain', 'Domain Admins', 'Domain Admins Mystique', 'Dominic Dertatevasion', 'Dominic Rizzo', 'Dominique Provost-Chalkley', 'Doomscrolling', 'DoorDash', 'Elon Musk', 'Endpoints', "Eric Berger's", 'Erich Kron', 'Etay Maor', 'Emily Andres', 'Ellison', 'Ellie Mae', 'Earth Empusa appbuliki.com Domain', 'Earth Empusa bloomberg.com.cm Domain', 'Earth Empusa umutyole.com Domain', 'Earth Empusa‚Äôs', 'Ecular Xu', 'Ed Macnair', 'Elan Wright', 'Elexon', 'Elizabeth Mooney Convery', 'Cybebunker', 'Cybercom', 'CyOps', 'Curtis Franklin Jr.', 'Cory Bayers', 'Coster', 'Criminals Turn to IM Platforms', 'Deirra J. Footman', 'Dertatevasion', 'DevSecOps', 'Devo', "Devo's Waits", 'DYN DDoS', 'Dan Cornell', 'Dan Savage', 'Daniel Micay', 'Darwin', 'Dashlane', 'Dave', 'David Emm', 'David Strauss', 'Davids', 'James Martin Sugden', 'Hillary Clinton', 'Holden', 'Henry Kyle Frese', 'Greg Lawson', 'Guillaume Endignoux', 'Hacktivists', 'Hardik Suri', 'Itay Huri', 'JAMA', 'JS.QNODESERVICE.A', 'JS.QNODESERVICE.A wizard.js', 'Jack Abramoff', 'Jack Dorsey', 'Jake Williams', 'Igor Turashev', 'Imprivata', 'Eugene Kaspersky', 'File Explorer', 'File(filesDir', 'Florian', 'Florian Tudor', 'Facebook Messenger', 'Eugene Spafford', 'Evans', 'Fabian Kaczmarczyck', 'GeekWire', 'Gelatt', "George Floyd's", 'George Hawley', 'George Lucas', 'GoldenSpy', 'Goliaths', 'Google Cloud', 'Ga√´l Duval', 'Fugaku', 'GDI+ RCE', 'GalComm', 'Gareth David Long', '‚à©^o^)‚äÉ‚îÅ‚òÜ']

In [82]:
len(df)

226460

In [83]:
df

          entity_name entity_type doc_index
0              Friday        DATE         0
1         Jumbo Squid     PRODUCT         0
2              Posted     PRODUCT         0
3       June 26, 2020        DATE         0
4           3:57 PM ‚Ä¢        TIME         0
...               ...         ...       ...
226455             US         GPE      5124
226456        759,786    CARDINAL      5124
226457       covid-19        DATE      5124
226458   this morning        TIME      5124
226459         40,683    CARDINAL      5124

[226460 rows x 3 columns]